*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
:root{
    --mc:#5455af;
    --bc:#f94a6f;
}
#cssid1{
    background-image: url(./1.png);
    min-height: 300px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width:600px){
    #cssid1{
    background-image: url(./1.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
}
.tringle-up{
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 150px 213.2px 150px;
  border-color: transparent transparent #010911 transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.tringle-text{
 text-align: center;
  top: 80px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
  color:white;
}
.tringle-up:hover{
        border-color: transparent transparent #f5f6f8 transparent;
}
.tringle-up:hover>.tringle-text{
    color:black;
}
.tringle-down{
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 213.2px 150px 0 150px;
  border-color: white transparent transparent transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.tringle-text-down{
text-align: center;
  top: -200px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 90px;
  margin: 0px;
    color: rgb(12, 14, 12);
}
.tringle-down:hover{
        border-color: black transparent transparent transparent;
}
.tringle-down:hover>.tringle-text-down{
    color:white;
}

.cc{
    background-color: #242582;
    animation-name: colorchanger;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: initial;    
}
.ccc{
    background-color: #242582;
    animation-name: colorchanger;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes colorchanger{
    /* from {background-color: #242582;}
    to {background-color: red;} */
    0% {background-color: var(--mc);}
    25% {background-color: rgb(57, 126, 122);}
    50% {background-color: rgb(159, 116, 190);}
    100% {background-color: #34359e;}
}
.mcc{
    /* background-color: #7164d5; */
    transition: background-color 1s ease-in-out;
}
.mcc:hover{
    background-color: black;
    border-radius: 10px;
}
.bg-mc{
    background-color: var(--mc);
}
.bg-bc{
    color:var(--bc);
    border: 2px solid var(--bc);
}
img{
    transition: height 4s ease-in-out 1s,transform 2s;
}
img:hover{
    height: 410px;
    transform: rotate(360deg);
}
h1{
    font-weight: normal;
    transition:font-weight 0.5s ease-in-out;
}
h1:hover{
    font-weight: bold;
}
.logo-title{
    font-size: 1em;
    font-weight: bold;
}
.logo-title::first-letter{
    font-size: 1.3em;
    color:green;
}
button{
    color:var(--bc);
    border: 2px solid var(--bc);
}
.bh:hover{
    background-color: black;
    color: white;
}
a:hover{
    color: blue;
    font-weight: bold;
}
.para{
    background-image: url('./para.jpeg');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
@media only screen and (min-width:600px){
.sd{
    text-align: center;
    transition: font-size 0.5s ease-in-out;
}
.sd:hover{
    font-size:2em;
}
.ds{
    transition: font-size 0s step-end;
    padding: 10px;
}
.ds:hover{
    background-color: white;
    text-align: center;
    font-size: 2em;
    padding:10px;
}
}